.Section2 {
  height: 100vh;
  position: relative;
  background-color: white;
}

.Section2 div {
  position: relative;
}

.leaves {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 120px;
  transition: 3s all ease;
}

.IntroBox {
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
}

.IntroBox span {
  font-size: 13px;
}

.IntroBox h1 {
  font-weight: 1000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
